* {
  margin: 0;
  padding: 0;
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari、Chromeなど */
  -ms-user-select: none; /* IE10かららしい */
}

html {
  overflow-y: scroll;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 2rem;
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template:
    "... ...... ..." 0px
    "... header ..."
    "... ...... ..." 0px
    "... center ..." 1fr
    "... ...... ..." 0px
    "... footer ..."
    "... ...... ..." 0px
    / 0px 1fr 0px;
}
header {
  grid-area: header;
}
main {
  grid-area: center;
}
footer {
  grid-area: footer;
}
@media screen and (max-width: 1000px) {
  body {
    grid-template:
      "header"
      "center" 1fr
      "footer";
  }
}

input#in_color {
  width: 100px;
}
